@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	font-family: 'Titillium Web', sans-serif;
	height: 100vh;
	overflow-y: hidden;
}
header{
	background-color:#008B8B;
	color: #FFF;
	
}
header nav{
	margin: 0 20px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav ul li {
	margin: 0 10px;
	list-style: none;	
	display: inline-block;

}
header a{
	text-decoration: none;
	color: #FFF;
	
}
p.header-username{
	font-weight: bold;
	color: gold;
	font-size: 20px;
}
main{
	height: 100%;
	margin: 10px;
}

/*MAIN - HOME*/
main section{
	height: 100%;
}
section .container{
	height: 100%;
	display: grid;
	grid-template-rows: 5% 65% 20%;
	gap: 15px;
}
.content-header {
	width: 100%;
	height: 100%;
	
}
.content-header nav{

	display: flex;
	justify-content: space-around;
}
.content-header nav ul{
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;		
	height: 50px;
	margin: 0 10px;

}
.content-header nav ul li{
	
	text-align: center;	
	width: 100%;
	list-style: none;
	font-size: 16px;
	color: #008B8B;
	white-space: nowrap;
	border: 1px solid lightgray;
	border-width: 0 1px;
	display: grid;
	grid-template-columns: 95% 5%
	
	
}
.content-header nav ul li .group_name{
	
	
}
.content-header nav ul li .group_close{
	border: 1px solid limegreen;
	cursor: pointer;
}

.content-header nav ul li:hover{
	background-color: #ccf2ff;
}
nav ul li.active{
	font-weight: bold;
	background-color: #003333;
	color: #FFF;
	border-radius: 7px;
}
.content-header nav ul li.active:hover{
	background-color: #008B8B;
}
.content-header nav .add_tab{

	font-weight: bold;
	font-size: 20px;
	color: #8B0000;
	border-radius: 7px;
	background-color: #ffb3b3;
	cursor: pointer;
	width: 50px;
	border: none;	
}
.content-header nav .add_tab:hover{
	transition: 0.4s;
	background-color: #8B0000;
	color:#FFF;
	
}
/*body*/
.content-body{
	width: 100%;
	padding: 20px;
	border: 1px solid purple;
	border-radius: 8px;
	margin: 20px 0;
	display: grid;
	grid-template-columns: 85% 15%;
	
}
.users-online{
	width: 100%;
	border: 1px solid limegreen;
	border-radius: 8px;
	padding: 6px;
	margin-left: 5px;
	overflow-wrap: break-word;
	overflow-y: auto;
}
.message{
	text-align: justify;
	width: 100%;
	border: 1px solid lightgray;
	padding: 6px;
	border-radius: 8px;
	overflow-y: auto;
}
.message-body img{
	max-width: 200px;
	max-height: 200px;
}

.message-header span:nth-child(2){
	font-size: 13px;
	color: #A9A9A9;
	margin: 20px;
}
.message-header span:nth-child(1){
	font-weight: bold;
	
}
/*footer*/

.content-footer{
	width: 100%;
	height: 100%;

}
.sender-area{
	padding:5px;
	display: grid;
	grid-template-columns: 90% 5% 5%;
	width: 100%;
	padding: 10px;	
	column-gap: 5px;
	border:1px solid lightgray;
	border-radius: 8px;

}
#sender_input{
	width: 100%;
	outline:none;
	border: none;
	overflow-y: auto;
	resize: none;
	padding: 5px;
	font-size: 15px;
	height: 70px;
}
.sender_imgUpload{
	align-self: center;
	text-align: center;
}
.sender-area #btn-send{
	align-self: center;
	
}
#btn-send img{
	width: 25px;
	height: 25px;
	cursor:pointer;
}
.sender_imgUpload img{
	cursor:pointer;
	width:25px;
	height: 25px;
}
#btn-send img:hover{
	transform: scale(1.2);
}
.sender_imgUpload img:hover{
	transform: rotateZ(10deg);
}
/*esconder input FIle*/
#send_input_img{
	position: absolute;
	top: -1000px;
}
/*others*/
.progress{
	height: 10px;
	display: none;
	margin: 10px 0;
}
.progress-bar{
	height: 10px;
	background-color: #32CD32;
	border-radius: 5px;

}

/*MODAL*/

.modal_bg{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	
}
.modal_area{
	max-width: 500px;
	padding: 20px;
	margin: 20px auto;
	background-color: #FFF;
	border-radius: 5px;

}

#group-list	button{
	display: block;
	margin: 7px 0;
	font-size: 16px;
	width: 100%;
	height: 35px;
	border: 1px solid #008B8B;
	border-radius: 7px;
	background-color: #fff;
	color:#008B8B;

}												
#group-list	button:hover{
	background-color: #f2f2f2;
}




@media (max-width:768px)
{
	
}

